/* ------------------------------ */
/* カスタムプロパティ */
/* ------------------------------ */

/* カラー */
:root {
    --color-bg-base: #FCF9F2;
    --color-bg-white: #fff;
    --color-font-base: #333333;
    --color-font-black-green: #11361F;
    --color-font-white: #fff;
}

:root {
    --font-weight-lighter: 100;
    --font-weight-light: 200;
    --font-weight-regular: 300;
    --font-weight-medium: 400;
    --font-weight-bold: 700;
}

:root {
    --bg-base: #fff;
    --bg-footer-company: #fcf9f2;
    --bg-footer-company-copyright: #11361F
}

/* コンテナ幅 */
:root {
    --width-content: 90%;
}

/* フォント */
:root {
    --font-family-base: "Souce Han Sans JP", "源の角ゴシック", "Noto Sans JP", sans-serif;
    --font-oswald: "Oswald", "Noto Sans JP", sans-serif;
}

/* ------------------------------ */
/* リセットCSS */
/* ------------------------------ */

html {
    color: #000;
    background: var(--bg-base);
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: "";
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input,
textarea,
select,
button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-size: 100%;
    border-radius: 0;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    background-color: inherit;
}

input,
textarea,
select {
    font-size: 16px;
}

textarea {
    resize: vertical;
    display: block;
}

button {
    padding: 0;
    cursor: pointer;
}

legend {
    color: #000;
}

main {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

svg {
    display: block;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

/* ------------------------------ */
/* 全体共通のスタイル */
/* ------------------------------ */

body {
    color: var(--color-font-base);
    font-family: var(--font-family-base);
    font-size: 14px;
    font-weight: var(--font-weight-light);
    letter-spacing: 0.08em;
    line-height: 1.8;
    background-color: var(--color-bg-base);
}

@media screen and (min-width: 768px) {
    body {
        font-size: 16px;
    }
}

/* ------------------------------ */
/* ちょっとした使い回すスタイル */
/* ------------------------------ */

.u-visually-hidden {
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
    margin: -1px !important;
}

/* ------------------------------ */
/* コンポーネント*/
/* ------------------------------ */

.c-font-oswald {
    font-family: var(--font-oswald)
}

.c-list-title {
    color: var(--color-font-black-green);
    font-size: 24px;
    font-weight: var(--font-weight-light);
    line-height: calc(43 / 24);
    text-align: center;
}

@media screen and (min-width: 768px) {
    .c-list-title {
        font-size: 36px;
        line-height: calc(60 / 36);
    }
}

.c-underline {
    position: relative;
}

.c-underline:before {
    content: '';
    height: 2px;
    display: block;
    position: absolute;
    left: 50%;
    bottom: 2px;
    transform: translate(-50%);
    background-color: var(--color-font-black-green);
}

.c-underline--concept:before {
    width: 70px;
}

.c-underline--menu:before {
    width: 50px;
}

.c-underline--shop:before {
    width: 50px;
}

.c-text {
    line-height: calc(24 / 14);
}

.c-return {
    display: block;
}

@media screen and (min-width: 768px) {
    .c-pc-return {
        display: block;
    }
}

.c-clear {
    clear: both;
}

/* ------------------------------ */
/*レイアウト*/
/* ------------------------------ */

.l-container {
    margin: 0 auto;
    width: 90%;
    max-width: var(--width-content)
}

@media screen and (min-width: 768px) {
    .l-container {
        width: calc((1080 / 1366) * 100%);
    }
}

/* ------------------------------ */
/* kv
/* ------------------------------ */

.kv {
    width: 100%;
    height: auto;
    aspect-ratio: 360 / 540;
    position: relative;
    background-image: url(./img/kv-img@2x.jpg);
    background-size: cover;
}

@media screen and (min-width: 768px) {
    .kv {
        aspect-ratio: 1366 / 768;
        background-image: url(./img/pc/kv-img-pc@2x.jpg);
        background-size: cover;
    }
}

.kv-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
    .kv-img {
        width: 40%;
        top: 35px;
        left: 40px;
        transform: translate(0, 0);
    }
}

/* ------------------------------ */
/* concept
/* ------------------------------ */

.concept {
    padding-top: 64px;
}

@media screen and (min-width: 768px) {
    .concept {
        padding-top: 96px;
    }
}

.concept-container {
    margin: 0 auto;
    width: 90%;
    max-width: var(--width-content)
}

@media screen and (min-width: 768px) {
    .concept-container {
        width: calc(100% * (1147 / 1366));
        margin-left: calc(100% * (143 / 1366));
    }
}

/* （修正）concept-contentにposition: relativeを適用してimgとdivを並べる */
.concept-content {
    margin-top: 24px;
}

@media screen and (min-width: 768px) {
    .concept-content {
        display: flex;
        flex-direction: row-reverse;
    }
}

.concept-content-img {
    width: 100%;
    display: block;
    mix-blend-mode: multiply;
}

/* （修正）widthが合計100%で収まっていない理由が不明 */
@media screen and (min-width: 768px) {
    .concept-content-img {
        padding-top: calc(272 / 294 * 58.15%);
        width: 58.15%;
        position: relative;
    }
}

@media screen and (min-width: 768px) {
    .concept-content-img img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }
}

.concept-content-copy {
    container-type: inline-size;
}

@media screen and (min-width: 768px) {
    .concept-content-copy {
        width: calc(100% - 58.15%);
    }
}

.concept-content-copy-line1 {
    color: var(--color-font-copy);
    font-size: 28px;
    letter-spacing: 0.06em;
    line-height: calc(49 / 28);
}

@media screen and (min-width: 768px) {
    .concept-content-copy-line1 {
        margin-top: calc(180 / 490 * 100%);
    }
}

.concept-content-copy-line1::before {
    content: '';
    margin-top: calc((1 - (49 / 28)) * 0.5em);
    width: 0;
    height: 0;
    display: block;
}

.concept-content-copy-line1::after {
    content: '';
    margin-top: calc((1 - (49 / 28)) * 0.5em);
    width: 0;
    height:0;
    display: block;
}

@media screen and (min-width: 768px) {
    .concept-content-copy-line1 {
        font-size: 23px;
        line-height: calc(60 / 36);
    }
}

@media screen and (min-width: 967px) {
    .concept-content-copy-line1 {
        font-size: 28px;
    }
}

@media screen and (min-width: 1254px) {
    .concept-content-copy-line1 {
        font-size: 36px;
    }
}

.concept-content-copy-line2 {
    margin-top: 20px;
    color: var(--color-font-copy);
    font-size: 17cqw;
    font-weight: var(--font-weight-lighter);
    line-height: 1;
    text-align: center;
    white-space: nowrap;
}

@media screen and (min-width: 768px) {
    .concept-content-copy-line2 {
        font-size: 19cqw;
    }
}

.concept-cotent-copy-description {
    margin-top: 40px;
}

@media screen and (min-width: 768px) {
    .concept-cotent-copy-description {
        width: 90%;
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) {
    .concept-cotent-copy-description::before {
        content: '';
        margin-top: calc((1 - (24 / 14)) * 0.5em);
        width: 0;
        height:0;
        display: block;
    }
}

@media screen and (min-width: 967px) {
        .concept-cotent-copy-description {
        font-size: 14px;
    }
}

@media screen and (min-width: 1254px) {
    .concept-cotent-copy-description {
        width: calc(413 /481 * 100%);
        font-size: 16px;
    }
}

/* ------------------------------ */
/* menu
/* ------------------------------ */

.menu {
    padding-top: 70px;
}

@media screen and (min-width: 768px) {
    .menu {
        padding-top: 96px;
    }
}

@media screen and (min-width: 768px) {
    .menu-container {
        margin: 0 auto;
        width: calc((1080 / 1366) * 100%);
    }
}

.menu h2 {
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .menu h2 {
        margin-bottom: 64px;
    }
}

@media screen and (min-width: 768px) {
    .menu-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 768px) {
    .menu-list-item {
        width: 47%;
    }
}

.menu-list-item-container {
    margin: 0 auto;
    width: 90%;
}

@media screen and (min-width: 768px) {
    .menu-list-item-container {
        margin: 0;
        padding-top: 12px;
        width: 100%;
    }
}

.menu-list-item-name,
.menu-list-item-price {
    color: var(--color-font-base);
        font-size: 22px;
        line-height: calc(66 / 22);
}

.menu-list-item-name {
    float: left;
}

@media screen and (min-width: 900px) {
    .menu-list-item:first-child .menu-list-item-name {
        font-size: 26px;
        line-height: calc(66 / 26);
    }

    .menu-list-item:nth-child(4) .menu-list-item-name {
        font-size: 26px;
        line-height: calc(66 / 26);
    }
}

.menu-list-item-price {
    float: right;
}

.menu-list-item-description {
    padding-bottom: 38px;
}

@media screen and (min-width: 768px) {
    .menu-list-item-description {
        padding-bottom: 64px;
    }
}

/* ------------------------------ */
/* separate*/
/* ------------------------------ */

.separate {
    margin-top: 26.4px;
    padding-top: calc(226 / 360 * 100%);
    background-image: url(./img/separate@2x.jpg);
    background-size: cover;
}

@media screen and (min-width: 768px) {
    .separate {
        padding-top: calc(496 / 1336 * 100%);
        background-image: url(./img/pc/separate-pc.jpg);
        background-size: cover;
    }
}

/* ------------------------------ */
/* shop
/* ------------------------------ */

.shop {
    padding-top: 70px;
    background-color: var(--color-bg-white);
}

@media screen and (min-width: 768px) {
    .shop {
        padding: 111px 0 96px;
        background-color: var(--color-bg-white);
    }
}

@media screen and (min-width: 768px) {
    .shop-container {
        margin: 0 auto;
        padding-top: 66px;
        width: calc((1080 / 1366) * 100%);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 64px;
    }
}

.shop-img {
    padding-top: 41px;
}

@media screen and (min-width: 768px) {
    .shop-img {
        padding: 0;
        width: 50%;
    }
}

.shop-content {
    margin: 0 auto;
    width: 90%;
}

@media screen and (min-width: 768px) {
    .shop-content {
        margin: 0;
        width: 37%;
    }
}

.shop-content-name {
    padding-top: 28px;
    font-size: 20px;
}

@media screen and (min-width: 768px) {
    .shop-content-name {
        padding: 0;
    }
}

.shop-content-address {
    padding: 20px 0 78px;
}

@media screen and (min-width: 768px) {
    .shop-content-address {
        padding: 18px 0 0px;
    }
}

@media screen and (min-width: 1080px) {
    .shop-content-address {
        padding: 0px;
    }
}

@media screen and (min-width: 768px) {
    .shop-content-description {
        display: none;
    }
}

@media screen and (min-width: 1080px) {
    .shop-content-description {
        padding: 18px 0;
        display: block;
    }
}

/* ------------------------------ */
/* footer
/* ------------------------------ */

.footer-top {
    padding-top: 64px;
    background-color: var(--bg-footer-company);
}

@media screen and (min-width: 768px) {
    .footer-top {
        padding: 96px 0;
    }
}

@media screen and (min-width: 768px) {
    .footer-top-company {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    .footer-top-company-container {
        display: flex;
        align-items: center;
        gap: 32px;
    }
}

.footer-top-company-logo {
    margin: 0 auto;
    width: 186px;
    height: auto;
    display: block;
}

@media screen and (min-width: 768px) {
    .footer-top-company-logo {
        margin: 0;
        width: 233px;
    }
}

.footer-top-company-info {
    padding-top: 18px;
    font-size: 12px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .footer-top-company-info {
        padding: 0;
        font-size: 14px;
        text-align: left;
    }
}

.footer-top-sns {
    padding: 33px 0 65px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    line-height: calc(35 / 18);
}

@media screen and (min-width: 768px) {
    .footer-top-sns {
        padding: 0;
        font-size: 18px;
    }
}

.footer-bottom {
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-footer-company-copyright);
}

.footer-bottom-copyright {
    color: var(--color-font-white);
}